.wrapper {
    padding: 100px 0;
    background-color: #3fceaa;
    min-height: 100vh;
}

.card {
    border: 2px solid #535353;
    box-shadow: 0 3px 5px rgba(44, 44, 44, 0.151);
    background-color: rgb(241, 241, 241);
    margin: 25px 40px;
    padding: 13px;
}

.table {
    border-collapse: collapse;
    width: 100%;
 }

.title {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 10px;
    text-align: left;
 }

 .cell {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 10px;
}

.title_left, .cell_left {
    border-left: 0px;
    width: 18%;
}

.title_two, .cell_two {
    width: 21%;
}

.title_three, .cell_three {
    width: 21%;
}

.title_four, .cell_four {
    width: 27%;
}

.title_rigth, .cell_right {
    border-right: 0px;
}

.status {
    margin-top: 20px;
    color: white;
    width: max-content;
    padding: 5px;    
    margin-left: 10px;
    font-size: 17px;
    font-family: "Montserrat";
}

.status__active {
    background-color: #FE634E;
    border: 1px solid #FE634E;
}

.status__deleted {
    background-color: #00dc7d;
    border: 1px solid #00dc7d;
}