
.wrapper {
    padding: 100px 0;
    background-color: #3fceaa;
    min-height: 100vh;
  }
  
  .card {
    border: 2px solid #535353;
    box-shadow: 0 3px 5px rgba(44, 44, 44, 0.151);
    background-color: rgb(241, 241, 241);
    margin: 25px 40px;
    padding: 13px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .title {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 10px;
    text-align: left;
  }
  
  .cell {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 10px;
  }
  
  .title_left,
  .cell_left {
    border-left: 0px;
    width: 25%;
  }
  
  .title_two,
  .cell_two {
    width: 25%;
  }
  
  .title_three,
  .cell_three {
    width: 25%;
  }
  
  .title_rigth,
  .cell_right {
    border-right: 0px;
  }
  
  .status {
    color: white;
    width: max-content;
    padding: 5px;
    margin-left: 10px;
    font-size: 17px;
    font-family: "Montserrat";
    background-color: rgb(255, 174, 53);
    border: 1px solid rgb(255, 174, 53);
  }
  
  .status__active {
    background-color: #fe634e;
    border: 1px solid #fe634e;
  }
  
  .status__deleted {
    background-color: #00dc7d;
    border: 1px solid #00dc7d;
  }
  
  .options {
    padding: 13px;
  }
  
  .change_block {
    padding-top: 20px;  
    font-size: 18px;
  }
  
  .change_login, .change_password {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      max-width: 80%;
  }
  
  .input {
    background-color: white;
    padding: 8px 80px 8px 15px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Montserrat';
    margin-right: 20px;
  }
  
  .input::placeholder {
    font-style: italic;
  }
  
  .input:focus {
    outline: 0;
  }
  
  .btn {
    border: 1px solid gray;
    border-radius: 8px;
    background-color: #00dc7d;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-color: #00dc7d;
    width: max-content;
    padding: 5px;
  }
  
  .programs {
      padding-top: 40px;
  }
  
  .programs_title {
      font-size: 18px;    
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .program_table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
  }
  
  .p_title {
      border-bottom: 3px solid gray;
      padding: 10px;
  }
  
  .p_cell {
      padding: 20px 10px;
      border-bottom: 1px solid gray;
  }