.sideBar_left {
  background-color: #e6e6e6ce;
  padding-top: 30px;
  padding-left: 30px;
  width: 15%;
}

.filter {
  position: fixed;
}

.education_form {
  font: 17px "Montserrat";
  color: #000000ad;
  font-weight: bold;
}

.forms {
  display: flex;
  flex-direction: column;
  font: 17px "Montserrat";
  padding-top: 20px;
  line-height: 30px;
}

.forms > a {
  color: #21c0a5;
}

.forms > a:hover {
  color: #21c0a5;
  background-color: #21c0a615;
}

.line_decoration {
  border-bottom: 2px solid #21c0a5;
  padding-top: 20px;
  width: 170px;
}
