.about {
    background-color: #3fceaa;
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 15px; */
  }
  
  span {
    font-weight: bold;
    font-size: 55px;
  }
  
  .education_online {
    padding: 100px 100px 10px 100px;
    font: 20px Arial;
    letter-spacing: 10px;
    color: #696f74;
    margin: 0;
  }
  
  .education {
    padding: 0px 100px;
    font: 50px Arial;
    color: #292e33;
  }
  
  .education_two {
    padding-left: 200px;
  }
  
  .education_three {
    padding-left: 400px;
  }
  
  .skillford {
    font-size: 25px;
    color: #3c3f42;
    padding-left: 100px;
  }
  
  .fox {
    width: 500px;
    height: 500px;
    padding-top: 120px;
  }
  
  .skillford {
    font-size: 25px;
    color: #3c3f42;
    padding-left: 100px;
    font: 20px Verdana;
  }