body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
  }
    
.App {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
}

.active {
  background-color: #21c0a615;
}

.collapse {
  height: 0;
  overflow: hidden;
}

.show {
  height: auto;
  max-height: 2000px;
}

.accordion-button, .accordion-button.collapsed {
  color: white;
  width: max-content;
  padding: 5px;
  margin-left: 10px;
  font-size: 17px;
  font-family: "Montserrat";
  background-color: rgb(255, 174, 53);
  border: 1px solid rgb(255, 174, 53);
}

.accordion-header {
  margin: 0;
}

.buttons{
  margin: 0;
  margin-right: 14%;
  display: flex;
  justify-content: space-between;
}

.buttons .accordion-button {
  color: #4a4a4a;
  background-color: #f1f1f1;
  border: 1px solid rgb(241 241 241);
}

.card-chat {
  margin-top: 80px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #292e33 rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(65, 65, 65, 0.274);
}

*::-webkit-scrollbar-thumb {
  background-color: #292e3377;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0);
}

@media (max-width: 585px) {
  body {
    height: 100vh;
    width: 100vh;
  }
}